

.word-container {
  display:flex;
  flex-direction: column;
  gap:1em;
  width:50%;
  margin-top:1rem;
  p {
    border:2px solid red;
    border-radius:5px;
    padding:.2rem;
    padding-inline-start: .5rem;

  }
}