.disabled {
  background: gray;
  border-color: gray;
  color: black;
}

.word-container {
  display: grid;
  width: 100%;
  grid-template-columns: 40% 1rem auto auto;
  align-items: center;
  gap: 0.5rem;
  .word {
    border: 3px orangered solid;
    padding: 0.5rem;
    border-radius: 10px;
  }
}
