*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
:root {
  --color-light: yellow;
  --color-dark: red;
  --color-neutral: grey;
  --font-righteous: "Permanent Marker", cursive;
  --font-righteous: "Righteous", san-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
input[type="radio"] {
  appearance: none;
  margin-top: 0.35rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  /* background-color: var(--color-neutral); */
  --background-color: var(--color-neutral);
  background: radial-gradient(
    var(--background-color) 50%,
    var(--color-dark) 0 100%
  );
  position: relative;
  cursor: pointer;
  &:checked {
    --background-color: var(--color-light);
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

button {
  width: max-content;
  border-width: 5px;
  border-radius: 5px;
  border-color: var(--color-light);
  background: var(--color-dark);
  color: var(--color-light);
  font-weight: 100;
  font-family: var(--font-righteous);
}
